@font-face {
  font-family: 'PTSans-Regular';
  src: url('/../font/ptsans/ptsans.woff2') format('woff2'), url('/../font/ptsans/ptsans.woff') format('woff'), url('/../font/ptsans/ptsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Italic';
  src: url('/../font/ptsans/ptsansitalic.woff2') format('woff2'), url('/../font/ptsans/ptsansitalic.woff') format('woff'), url('/../font/ptsans/ptsansitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('/../font/ptsans/ptsansbold.woff2') format('woff2'), url('/../font/ptsans/ptsansbold.woff') format('woff'), url('/../font/ptsans/ptsansbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('/../font/ptsans/ptsansbolditalic.woff2') format('woff2'), url('/../font/ptsans/ptsansbolditalic.woff') format('woff'), url('/../font/ptsans/ptsansbolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
