/* colors */
$white: #ffffff;
$black: #000000;
$highland: #60985c;
$tundora: #444444;
$mortar: #554d56;
$azure: #335bb7;
$alto: #dddddd;
$nobel: #b3b3b3;

/* fonts */
$font-regular: 'PT Sans Regular';
$font-italic: 'PT Sans Italic';
$font-bold: 'PT Sans Bold';
$font-narrow: 'PT Sans Narrow';
$font-narrow-bold: 'PT Sans Narrow Bold';
